body {
  margin: 0;
}
.homepage {
  display: flex;
  flex-direction: row;
}
/* .homepagecontent {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
} */
.homecontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.grid-row {
  display: flex;
  gap: 50px;
  margin-bottom: 10px;
}
.grid-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.tableuserinfo {
  width: 850px;
  height: 325px;
  background-color: #333333;
  border-collapse: collapse;
  color: #aa9a49;
  margin: 20px;
  padding: 20px;
  /* border: solid red 2px; */
  border-radius: 30px;
}

.tduserinfo {
  padding: 10px;
}
.tduserinfo1 {
  border-left: 1px solid #aa9a49;
}
td {
  padding: 15px 10px;
}
