.userTransactionPage {
    display: flex;
}
.userrightside {
    display: flex;
 flex-direction: column;
 width: 100%;
}
.transferanddeposit {
   position: absolute;
   right: 0;
   margin-top: 130px;
   margin-right: 50px;
   display: flex;
}
.transferbutton {
    height: 40px;
    margin-right: 20px;
    width: 100px;
    cursor: pointer;
    border-radius: 20px;
}

.depositbutton {
    height: 40px;
    width: 100px;
    cursor: pointer;
    border-radius: 20px;
}
.transferbutton:hover {
    background-color: #aa9a49;
    color: white;
}
.depositbutton:hover {
    background-color: #aa9a49;
    color: white;
}