

.notificationlogo {
    height: 35px;
    width: 35px;
    color: #aa9a49;
    margin-right: 30px;
}
.homepage1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.headerhomepage {
    display: flex;
    align-items: center;
    width: 95%;
    height: 100px;
    justify-content: space-between;
    color: #aa9a49;
    border-bottom: solid black 1.5px;
    text-transform: uppercase;
}
.homelogopage {
    height: 40px;
    width: 40px;
}
.homepagedescription {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    gap: 20px;
    margin-top: 20px;
    width: 50%;
    margin-right: 45rem;
    color: #aa9a49;
}
.homepagedescription p {
    font-size: 22px;
    font-weight: bold;
}

.allthenotifications{
    position: absolute;
    top:105px;
    right: 27.2%;
    border: 3px solid #aa9a49 ;
    padding: 10px;
    background-color: white;
}

.none{display: noe;}