.logosidenavbar {
  display: flex;
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 20px;
}
.ulsidenavbar {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.adminsidenavbar {
  height: 100vh;
  background-color: #333333;
  width: 300px;
}
.interdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
}
.ulsidenavbar li {
  font-size: 1.5rem;
  color: #fcfaf9;
}
.logoutlogo,
.promotionlogo,
.homelogo,
.transactionlogo {
  height: 30px;
  width: 30px;
  margin-right: 30px;
}
.flexflex {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}
.flexflex:hover {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  color: #aa9a49;
}
.ulsidenavbar li:hover {
  color: #aa9a49;
  cursor: pointer;
}
.ulsidenavbar {
  list-style: none;
  width: 80%;
  padding: 0;
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ulsidenavbar li {
  font-size: 1.2rem;
  color: #fcfaf9;
  height: 20px;
  margin: auto;
  display: flex;
  align-items: center;
}
.gold-line {
  width: 100%;
  height: 0.5px;
  background-color: #aa9a49;
}
