.AdminUsersPage {
  display: flex;
}

.AdminUsersPageContent {
  display: flex;
  flex-direction: column;
  width: 100%;
 
}
.useradminForm {
margin-top: 2rem;
margin-left: 3rem;
margin-right: 3rem;
}
