.userpromotionpage {
    display: flex;
    margin: 0;
    padding: 0;
}
.userrightside2 {
    display: flex;
 flex-direction: column;
 width: 100%;
}
.MerchantTabel {
width: 100%;
margin-bottom: 20rem;
    
}
.UserMerchantPage {
 display: flex;
}

