.depositmoneyform {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    border: solid #aa9a49 3px;
    background-color: #333333;
    border-radius: 25px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
}
.depositmoneyheader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.inputmoneydeposit {
    width: 280px;
    height: 40px;
    padding-left: 35px;
    border: #aa9a49;
    border-radius: 20px;
}
.amount {
    margin-left: 120px;
}
.hrdepositmoneyform {
    width: 90%;
    border-bottom: solid #aa9a49 1.5px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 10px;
}
.note {
    margin-left: 67px;
}
.depositmoneybutton {
    width: 140px;
    height: 35px;
    cursor: pointer;
    color: #333333;
    background-color: #aa9a49;
    border-radius: 20px;
}
.depositmmoneybuttondiv {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.inputmoneyicon {
    position: absolute;
    margin-right: 190px;
    height: 25px;
    width: 25px;
}
.inputemailicon {
    position: absolute;
    margin-right: 70px;
    height: 25px;
    width: 25px;
}
.h3depositmoney {
    color: #aa9a49;
}
.transactionlogo1 {
    color: #aa9a49;
    height: 20px;
    width: 20px;
}
.recieveremail {
    color: #aa9a49;
}
.recieveramount {
    color: #aa9a49;
}
.depositmoneybutton:hover {
    color: white;
}
.backbutton {
    height: 35px;
    width: 35px;
    position: absolute;
    margin-right: 490px;
    color: #aa9a49;
    cursor: pointer;
}