.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

header {
  background-color: #333333;
  display: flex;
  gap: 25%;
 
}
.Navbar {
  display: flex;
  align-items: center;
}
.header_Links {
    display: flex;
    gap: 30%;
    font-size: 1.6rem;
    margin-left: 40rem;
  }

.N-home {
   text-decoration: none;
   color: #FCFAF9;
  
}
.N-categories {
  text-decoration: none;
  color: #FCFAF9;
}
.N-Register {
  text-decoration: none;
  color: #FCFAF9;

}
.N-about {
  text-decoration: none;
  color: #FCFAF9;
}
.N-contact {
  text-decoration: none;
  color: #FCFAF9;
}

.Logo {
   width: 6%;  
   margin-left: 10rem;
   
   
}
.header_Links a {
    text-decoration: none;
    color: #FCFAF9;
    position: relative;
  }
  .header_Links a:hover{
    color: #AA9A49; 
}
.header_Links a:focus {
    color: #AA9A49; 
} 

  
  .header_icon {
    display: none;
    font-size: 3rem;
    color: #AA9A49;
    margin: auto;
    cursor: pointer;
    padding-bottom: 1rem;
  }
  
  .header_mobile_nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: none;
    padding-bottom: 1rem;
    text-decoration: none;
    color: #FCFAF9;
    position: relative;
  }
  

  
  .header_mobile_ul li {
    padding: 10px;
  }
  
 
  
  @media only screen and (max-width: 960px) {
    header {
      flex-direction: column;
    }
   
    .header_Links {
      display: none;
      
    }
    .header_nav {
      width: 90%;
    }
    
    .header_icon {
      display: flex;
      align-items: center;
     
    }
    .Logo {
     display: flex;
     justify-content: center;
     width: 50%;
     margin: auto;
    }
    .header_mobile_ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    padding-top: 1rem;
  }

  .header_mobile_nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1rem;
    text-decoration: none;
    color: #FCFAF9;
    position: relative;
  }
  
  .header_mobile_ul a {
    text-decoration: none;
    color: #FCFAF9;
    position: relative;
  }

  .header_mobile_ul a:hover {
    color: #AA9A49;
  }

  .header_mobile_ul a:focus {
    color: #AA9A49;
  }
}
 
  
  
 

