.logosidenavbar {
  display: flex;
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 20px;
  
}
.ulsidenavbar {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 50px;


}
.adminSideNavbar {
  min-height: 100vh;
  background-color: #333333;
  width: 15%;

}
.adminSideNavbar a {
  text-decoration: none;
}
.interdivadmin {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  width: 300px;
}
.ulsidenavbar li {
  font-size: 1.5rem;
  color: #fcfaf9;
}
.logoutlogo,
.promotionlogo,
.homelogo,
.userslogo,
.transactionlogo {
  height: 30px;
  width: 30px;
  margin-right: 30px;
}
.flexflex {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}
.flexflex:hover {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  color: #aa9a49;
}
.ulsidenavbar li:hover {
  color: #aa9a49;
  cursor: pointer;
}
.ulsidenavbar {
  list-style: none;
  width: 80%;
  padding: 0;
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ulsidenavbar li {
  font-size: 1.2rem;
  color: #fcfaf9;
  height: 20px;
  margin: auto;
  display: flex;
  align-items: center;
}
.gold-line {
  width: 100%;
  height: 0.5px;
  background-color: #aa9a49;
}

.navbar-toggle {
  font-size: 2.5rem;
  color: #aa9a49;
  margin-top: 1.5rem;
  margin-left: 0.9rem;
  cursor: pointer;
  transition: color 0.3s ease; /* Add transition for smoother effect */
}
.gold-line-closed {
  width: 100%;
  height: 0.5px;
  padding-left: 3.5rem;
  background-color: #aa9a49;
}

.closed-sidenavbar {
  width: 20%;

}
.closed-sidenavbar a {
  text-decoration: none;
}

.interdivClosed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
  
}
.userslogo {
  margin-left: 0.3rem;
}
