.adminHomePage {
  display: flex;
  width: 100%;
}

.adminHomePageContent {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin-left: 5.5rem;
}

.adminHomeCards {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  min-width: fit-content;
}

.graph {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #aa9a4967;
  margin-top: 50px;
}
.MiddleHeader {
 position: absolute;
}
