.adminHomePage {
  display: flex;
}

.adminHomePageContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin-left: 5.5rem; */
  width: 100%;
}

.adminHomeCards {
  display: flex;
  gap: 5rem;
  margin-top: 2rem;
  margin-left: 9rem;
}

.graph {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #aa9a4967;
  margin-top: 50px;
}
.MiddleHeader {
  position: absolute;
}
