.AdminPromotionsPage {
  display: flex;
}

.AdminPromotionsPageContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addbuttonadmin {
  height: 40px;
  width: 120px;
  cursor: pointer;
  border-radius: 33px;
  position: absolute;
  z-index: 143;
  border-style: none;
  background-color: #333333;
  border-radius: 33px;
  color: #aa9a49;
}
.addbuttonadmin:hover {
  background-color: #aa9a49;
  color: white;
}

.PromTable {
width: 98%;
margin-right: 7rem;
}