.headerNavbar {
  background-color: #333333;
  display: flex;
  gap: 30%;
}
.Navbar {
  display: flex;
  align-items: center;
}
.header_Links {
  display: flex;
  gap: 30%;
  font-size: 1.6rem;
  margin-left: 18rem;
}

.N-home {
  text-decoration: none;
  color: #fcfaf9;
}
.N-categories {
  text-decoration: none;
  color: #fcfaf9;
}
.N-Register {
  text-decoration: none;
  color: #fcfaf9;
}
.N-about {
  text-decoration: none;
  color: #fcfaf9;
}
.N-contact {
  text-decoration: none;
  color: #fcfaf9;
}

.Logo {
  width: 7%;
  margin-left: 10rem;
  cursor: pointer;
}
.header_Links a {
  text-decoration: none;
  color: #fcfaf9;
  position: relative;
}
.header_Links a:hover {
  color: #aa9a49;
}
.header_Links a:focus {
  color: #aa9a49;
}

.header_icon {
  display: none;
  font-size: 3rem;
  color: #aa9a49;
  margin: auto;
  cursor: pointer;
  padding-bottom: 1rem;
}

.header_mobile_nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: none;
  padding-bottom: 1rem;
  text-decoration: none;
  color: #fcfaf9;
  position: relative;
}

.header_mobile_ul li {
  padding: 10px;
}

@media only screen and (max-width: 960px) {
  header {
    flex-direction: column;
  }

  .header_Links {
    display: none;
  }
  .header_nav {
    width: 90%;
  }

  .header_icon {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  .Logo {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: auto;
  }
  .header_mobile_ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    padding-top: 1rem;
  }

  .header_mobile_nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1rem;
    text-decoration: none;
    color: #fcfaf9;
    position: relative;
  }

  .header_mobile_ul a {
    text-decoration: none;
    color: #fcfaf9;
    position: relative;
  }

  .header_mobile_ul a:hover {
    color: #aa9a49;
  }

  .header_mobile_ul a:focus {
    color: #aa9a49;
  }
  
  .Registerbutton {
    font-size: 2rem;
  }
}
