.homecard {
  height: 180px;
  width: 300px;
  background-color: #333333;
  border-left: solid #aa9a49 15px;
  border-radius: 10px;
  display: inline-block;
}
.walletlogo {
  height: 35px;
  width: 35px;
  margin-top: 15px;
  margin-left: 15px;
  color: #aa9a49;
}

.headercard {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.balancecard {
  color: #aa9a49;
  margin-left: 15px;
  margin-top: 20px;
  font-size: 25px;
}
