
.HomePage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #333333;
  background-color: #FCFAF9;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 2.5s ease, transform 1.5s ease;
}
.topside {
display: flex;
margin-top: 3rem;
}

.HomePage.show {
  opacity: 1;
  transform: translateX(0%);
}

.bottomSide {
  display: flex;
  gap: 1rem;
  color: #333333;
  background-color: #FCFAF9;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 2.5s ease, transform 1.5s ease;

}

.bottomSide.show {
  opacity: 1;
  transform: translateX(0%);
}

.bottomSide {
  margin-top: 2rem; 
  margin-left: 50rem;

}


.LogoName {
  font-family: 'Kumar One';
  font-size: 4rem;
  margin-left: 12rem;
  position: relative;
  color: #AA9A49;
}


.Leftside {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 
}

.leftsideH {
 color : #333333;
 font-size: 6rem;
 margin: 0;
 padding: 0;
 margin-top: 2rem;
 margin-left: 12rem;
 font-weight: bold;
}

.Rightside {
  margin-top: 2rem;
  margin-left: 8rem;
  width: 700px;
  
}
.Registerbutton:hover {
  transform: translate3D(0, -1px, 0) scale(1.23);
  transition: transform 0.3s ease-in-out; /* Add transition property */
  transform-origin: center; /* Add transform-origin property */
}
.Signinbutton:hover {
  transform: translate3D(0, -1px, 0) scale(1.23);
  transition: transform 0.3s ease-in-out; /* Add transition property */
  transform-origin: center; /* Add transform-origin property */
}

.buttons {
  display: flex;
  gap: 4rem;
  margin-bottom: 2rem;
  margin-left: 12rem;
}

.Signinbutton  {
  background-color: #F0E3E3;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 7em;
  border-radius: 1rem;
  cursor: pointer;
 }
 

 
 .Signinbutton :hover {
  color: #AA9A49;
 }
 


 .Registerbutton  {
  background-color: #333333;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 7em;
  border-radius: 1rem;
  cursor: pointer;
 }

 
 .Registerbutton :hover{
  color:  #AA9A49;
 }
 


.Signinbutton  {
  text-decoration: none;
  color: #333333;
  background-color: #F0E3E3;
  font-size: 2rem;
}

.Registerbutton  {
  text-decoration: none;
  color: #FCFAF9;
  background-color: #333333;
  font-size: 2rem;
}
.bottomside {
  display: flex;
  justify-content: center;
  gap: 2rem;
  border-radius: 33px;
  margin-top: 13rem;
  background-color: #f0e3e356
}

.card:hover {
  transform: translate3D(0, -1px, 0) scale(1.13);
  transition: transform 0.3s ease-in-out; /* Add transition property */
  transform-origin: center; /* Add transform-origin property */
}

.Cardone,
.Cardtwo,
.Cardthree {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  padding: 2rem;
  background: #F0E3E3;
  border-radius: 12px;
  margin-top: 3rem;
}

.card-header {
  display: flex;
  align-items: center;
}

.card-header h1 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}


.Cardone h2,
.Cardtwo h2,
.Cardthree h2 {
  font-size: 1rem;
}
.card {
  width: 450px;
  height: 320px;
  padding: 20px;
  margin-left: 4rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: #333333;
  background: linear-gradient(#fcfaf98e, #fcfaf98e) padding-box,
              linear-gradient(145deg, transparent ,#AA9A49, #AA9A49) border-box;
  border: 2px solid transparent;
  border-radius: 33px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform-origin: right bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .main-content {
  flex: 1;
}

.card .header span:first-child {
  font-weight: 600;
  font-size: 1.8rem;
  color: #AA9A49;
  margin-right: 4px;
}

.card .heading {
  font-size: 20px;
  margin: 30px 0 16px;
  font-weight: 600;
}

.card .categories {
  display: flex;
  gap: 8px;
}

.card .categories span {
  background-color: #AA9A49;
  padding: 5px 10px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 33px;
}

.card .footerHome {
  font-weight: 600;
  color: #AA9A49;
  margin-right: 4px;
  font-size: 1.3rem;
  margin-top: 0.7rem;
}

@media only screen and (max-width: 960px) { 

   .Rightside {
    display: none;
   }
   
   .leftsideH {
     font-size: 3rem;
     margin-left: 1rem;
   }
   
   .LogoName {
    font-size: 3rem;
    margin-left: 1rem;
   }
   
   .buttons {
    font-size: 3rem;
    margin-left: 1rem;
    width: 50%;
   }
   .bottomside {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
   }
   .card {
    width: 70%;
    margin-left: 2.4rem;
    margin-top: 0;

  }
  
   .main-content {
     margin-bottom: -1rem;
     padding-top: -1rem;
   }
   

}






















